#search{
    text-align: center;
}

#previewer{
    margin: 10px auto;
    border: 3px solid black;
    width: 300px;
    height: 300px;
    vertical-align: middle;
    text-align: center;
    line-height: 225px;
}

#previewer img{
    width: 300px;
    height: 300px;
    vertical-align: middle;
}